// Add any custom Sass & CSS here
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

html body{
	margin: 0;
	padding: 0;
}

@keyframes attention {
    0%   {opacity: $no_opacity;}
    50%   {opacity: $full_opacity;}
    100%   {opacity: $no_opacity;}
}

@keyframes appear {
	0% {opacity: $no_opacity;}
	100% {opacity: $full_opacity;}
}
//nav bar
.top-bar{
	position: fixed;
	width: $full-width;
	z-index: -5;
	opacity: $no_opacity;
	background-color: $white;
    transition: height 1s, opacity 3s, z-index 1s;
    -webkit-transition: height 1s, opacity 3s, z-index 1s;
    height:75px;
	
	ul{
		background-color: transparent;
    	li{
    		a{
				@include a_tag($bright-red);
    		}
    		a.active{
    			border-bottom-style: solid;
    		}
    	}
	}
}
//change nav-bar height while scrolling
.top-bar-edit{
	height: 60px;
}
//make nav-bar visible after home-page
.visible{
	z-index: 2;
	opacity: .95;
}

//image and dimentions
.front-page{
	height: $full_height;
	width: $full-width;
	max-width: $full-width;
	margin: 0;
	@include front_page();
	position: relative;
}
//text and arrow
.front-page-text{
	@include vertical_center();
	color: $white;
	
	font-size: $heading_size;
	font-family: 'Fredericka the Great', cursive;
	text-align: center;
	font-weight: bold;

	animation-name: appear;
   	animation-duration: 5s;
    animation-iteration-count: 1;
	a{
		font-size: .5em;
		@include a_tag($white);
		animation-name: attention;
    	animation-duration: 4s;
    	animation-iteration-count: infinite;
    	transition: all 1s ease;
	}
	a:hover{
		animation-iteration-count: 0;
		opacity: 1;
		font-size: .6em;
	}

	@media screen and (max-width: 640px) {
		margin-top: 40%;
		font-size: 3em;
      }
    @media screen and (max-width: 450px) {
		font-size: 2.5em;
      }

}

//intro section
#intro{
	@include section($background-blue);
    color:$white;

	.intro_heading{
    	font-size: $heading_size;
    	padding-top: 60px;
    }
    i{
    	font-size: $icon_size;
    	padding: 20px;
    }
    .intro_title{
		padding: 10px;
		font-size: 1.3em;
    }

    .intro_hash{
    	opacity: $no_opacity;
    }
    .in-view{
    	@media screen and (min-width: 640px){
			@include view_animation();
		}
    }

    .intro_text{
    	padding-top: 40px;
    	float: none;
    }
}
//skills section
#skills{
	@include section($white);
    color:$background-blue;

    .skills_heading_box{
    	padding: 10px;
    }

    .skills_heading{
    	font-size: $heading_size;
    }

    .skills_heading_minor{
    	font-size: 1.7em;
    	border-bottom: 5px solid $background-blue;
    }

    .skills_images{
    	padding: 40px;
    	@media screen and (max-width: 640px) {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 40px;
			padding-bottom: 40px;

    	}
    }

    .skills_box{
    	padding: 25px;
    }

    .skills_box_inner{
		@include inner_box();

		p{
			transition: all 1s ease;
			font-size: 1em;
			opacity: .5;
			@include vertical_center();
   			@media screen and (max-width: 640px) {
				font-size: 1.5em;
      		}
		}
    }

    .skills_box_inner:hover{
    	p{
    		opacity: 1;
    		font-size: 1.5em;
    	}
    }
    .in-view{
		@include view_animation();
    }


}
//work section
#work{
	@include section($white);
    color:$background-blue;

    .work_heading{
    	font-size: $heading_size;
    }

    .work_heading_minor{
    	font-size: 1.7em;
    	border-bottom: 5px solid $background-blue;
    }

    .work_heading_box{
    	padding: 10px;
    }
    .work_images{
    	padding: 40px;
    	@media screen and (max-width: 640px) {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 40px;
			padding-bottom: 40px;

    	}
    	@media screen and (max-width: 450px) {
			padding-left: 0px;
			padding-right: 0px;
			padding-top: 30px;
			padding-bottom: 30px;
      	}
    }
    .work_box{
    	padding: 25px;
    }

    .work_box_inner{
		@include inner_box();
		
		p{
			transition: all 1s ease;
			font-size: 1.5em;
			opacity: $full_opacity;
			@include vertical_center();
   			@media screen and (max-width: 640px) {
				font-size: 1.5em;
      		}
      		@media screen and (max-width: 450px) {
				font-size: 1.1em;
      		}

		}
    }
	.work_box_inner:hover{
		background-color: $background-blue-o;
		p{
			opacity: $no_opacity;
		}
	}

	.goldman:hover{
		@include pictures_interest("../data/pics/gs.jpg");
	}

	.tatacomm:hover{
		@include pictures_interest("../data/pics/tc.jpg");
	}

	.ece110:hover{
		@include pictures_interest("../data/pics/uiuc.jpg");
	}

	.cs173:hover{
		@include pictures_interest("../data/pics/uiuc2.jpg");
	}

	.work_video{
		background-color: $background-blue;
		margin-top: 35px;
		opacity: $no_opacity;
		padding: 30px;
		border: 0;
	}

	.flex-video{
		margin-bottom: 0px;
	}

	@media screen and (max-width: 1024px) {
		.work_video{
			@include go_away();
		}
		.flex-video{
			@include go_away();
		}
	}

	.icon_video{
		font-size: $icon_size;
    	padding: 30px;
    	a{
    		text-decoration: none;
    		color: $background-blue;
    	}
	}

	@media screen and (min-width: 1025px){
		.icon_video{
			@include go_away();
		}
	}

    .in-view{
		@include view_animation();
    }
}

//interest section
#interest{
	@include section($background-blue);
    color:$white;
    min-height: $full_height;
    position: relative;

    .interest_heading{
    	font-size: $heading_size;
    }

    .fade{
    	padding-top: 30px;
    	padding-bottom: 30px;
		@include vertical_center();
    }

    .tennis{
    	@include pictures_interest("../data/pics/tennis.jpg");
    }

    .sherlock{
    	@include pictures_interest("../data/pics/sherlock.jpg");
    }

    .canoeing{
    	@include pictures_interest("../data/pics/canoe.jpg");
    }

    .cycling{
    	@include pictures_interest("../data/pics/cycling.jpg");
    }
    .plane{
    	@include pictures_interest("../data/pics/plane.jpg");
    }

    .got{
    	@include pictures_interest("../data/pics/got.jpg");
    }

    .slick-track{
    	height: $carasoule_h;
    }

}
//footer
.footer{
	background: #EEE;
	min-height: 25vh;
	padding: 10px;
	.footer-icon-up{
		a{
			font-size: 1.5em;
			@include a_tag($black);
			animation-name: attention;
    		animation-duration: 4s;
    		animation-iteration-count: infinite;
    		animation-delay:3s;
    		transition: all 1s ease;
		}
		a:hover{
			animation-iteration-count: 0;
			opacity: $full_opacity;
			font-size: 1.6em;
		}
		padding-top: 2.5%;
	}
	.footer-social-media{
		a{
			font-size: 1.5em;
			@include a_tag($bright-red);
			position: relative;
  			top: 50%;
  			transform: translateY(-50%);
  			padding-top: 15px;
  			opacity: $no_opacity;

			@media screen and (max-width: 450px) {
				font-size: 1em;
      		}
		}
		a:hover{
			color:black;
			font-size: 1.8em;
			@media screen and (max-width: 450px) {
				font-size: 1.3em;
      		}
		}
		padding-top: 2.5%;
		.in-view{
			@include view_animation();
		}
	}
}

//modal
.window{
	position: fixed;
	z-index: 10000;
	min-height: 80px;
	margin-left: -25%;
	margin-top: -25%;
	left: -1000px;
	top:-1000px;
	background-color:$white;
	box-shadow:4px 4px 80px #000;
}

.content{
	color: $background-blue;
	font-size: 1.5rem;
	padding: 10px;
	p{
		font-size:1rem;
		color:grey;
	}
	.info_job{
		color:$black;
		font-size:1rem;
		@media screen and (max-width: 450px) {
			@include go_away();
      	}
	}
	a.close{
		width: 30px;
		height: 30px;
		text-decoration: none;
		text-align: center;
		color:$background-blue;
		font-size: 1rem;
		@include horizontal_center();

	}
}
