// Insert your variables
$background-blue	: #2c3e50;
$background-blue-o	: rgba(38,50,56, 0.2);
$white			 	: rgb(256, 256, 256);
$heading_size	 	: 3.5em;
$full_height	 	: 100vh;
$full-width		 	: 100vw;
$bright-red		 	: #ff0030;
$full-dimen 	 	: 100%;
$icon_size		 	: 7em;
$black			 	: rgb(0,0,0);
$no_opacity		 	: 0;
$full_opacity    	: 1;
$carasoule_h		: 60vh;